body {
  background: #e8f5e9;
  background-image: url(/public/fundo.jpg);
  font-family: sans-serif;
  text-align: center;
  color: #2e7d32;
}

.container {
  padding: 20px;
}
.container h1{
  color: #ffff;
}
.container p{
  color:#ffff;
}
.info, .controles {
  background: white;
  border-radius: 12px;
  padding: 15px;
  margin: 10px auto;
  width: 320px;
  box-shadow: 0 0 8px #ccc;
}

button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #66bb6a;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #388e3c;
}
